{% extends "pfwapp/layout.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block script %}
    <script src="{% static 'pfwapp/index.js' %}"></script>
{% endblock %}
            
{% block body %}
    <div class="pages">
        <div class="page" id="home">
            <div class="card" id="home-intro-card">
                <h3 style="color: #a594fd;">Hello!!!</h3>
                <p>I am Amirreza Gohari</p>
            </div>
        </div>

        <div class="page" id="projects">
            <div class="project-cards">
                {% for project in Projects %}
                    <div class="card" id="project-card">
                        <h3 style="color: #a594fd;">{{project}}</h3>
                        <p>This is project {{project}}</p>
                    </div>
                {% empty %}
                    <div class="card" id="project-card">
                        <h3 style="color: #a594fd;">{{project}}</h3>
                        <p>This is project {{project}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="page" id="about">
            <div class="card" id="about-card">
                <div class="card" id="about-card-dets">
                    <h3 style="color: #a594fd;">Hello!!!</h3>
                    <p>I am Amirreza Gohari a programmer and designer</p>
                </div>
            </div>
        </div>

        <div class="Endbar" id="contact">
            <div class="page" id="contact-bar">
                <div id="contact-det">
                    <p>All Copyrights Recieved</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



    
    
        
    