{% extends "pfwapp/layout.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block script %}
    <script src="{% static 'pfwapp/index.js' %}"></script>
{% endblock %}
            
{% block body %}
    <div class="pages">
        <div class="page" id="home" style="display: none;">Home</div>

        <div class="page" id="projects" style="display: none;">
            {% for project in Projects %}
                <p>
                    <a>{{project.name}}</a>
                </p>
            {% empty %}
                <p>No Projects!!!</p>
            {% endfor %}
        </div>

        <div class="page" id="about" style="display: none;">About</div>

        <div class="page" id="contact" style="display: none">Contact Us</div>
    </div>
{% endblock %}



    
    
        
    