{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'pfwapp/index.css' %}">
        <title>{% block title %}{% endblock %}</title>
        {% block script %}
        {% endblock %}  
    </head>
    <body> 
        <div class="navbar_container">
            <div class="navbar flex-container">
                <div id="logo" >
                    <img id="mylogo" src="{{ logo }}" alt="logo">
                </div>
                <div class="pages-btn">
                    <div id="home-btn">
                        <a>
                            <p>
                                Home
                            </p>
                        </a>
                    </div>
                    <div id="project-btn">
                        <a>
                            <p>
                                Projects
                            </p>
                        </a>
                    </div>
                    <div id="about-btn">
                        <a>
                            <p>
                                About
                            </p>
                        </a>
                    </div>
                </div>
                <div id="contact-btn">
                    <a>
                        Contact me
                    </a>
                </div>
            </div>
        </div>
        {% block body %}   
        {% endblock %}  
    </body>
</html>