$button-colors: #a594fd;

@mixin btn($name) {
    ##{$name}-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80px;
        a{
            p{
                transition: color 0.3s ease; 
            }
        }
        
    }
    ##{$name}-btn:hover{
        cursor: pointer;
        a{
            p{
                color: $button-colors;
            }
        }
    }
}

body{
    width: 100%;
    font-family: sans-serif;
    background-color: #0c0c0c;
    color: white;
    margin: 0;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #0c0c0c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        transparent,
        #7d64f9,
        transparent
    );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        transparent,
        #9782ff,
        transparent
    );
    box-shadow: #7d64f9;
}

.main{
    margin: 1px;
}

.navbar_container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #0c0c0c;
    border-bottom: 0.2px ridge #1b1b1b;
    margin-bottom: 150px;
    font-weight: bolder;
    padding: 10px;
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        #logo{
            display: flex;
            flex-direction: row;
            #mylogo{
                width: 80px;
                height: 80px;
            } 
        }   
        .pages-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            @include btn(home);
            @include btn(project);
            @include btn(about);
            @include btn(contact);
            #contact{
                font-weight: bold;
            }
            
        }
    }
}

.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #projects{
        margin-top: 170px;
        margin-bottom: 170px;
    }
    #contact{
        margin-top: 150px;
    }
}

#home-intro-card{
    width: 500px;
    height: 350px;
    position: relative;
    margin: 80px;
    margin-top: 0;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    padding: 10px;
    background-color: #101010;
    h3{
        font-weight: bold;
    }
    text-align: center;
}
#home-intro-card:before{
    content: "";
    height: 70px;
    width: 1px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
        transparent,
        #7d64f9,
        transparent
    );
    opacity: 0;
}
#home-intro-card:before {  
    top: 65%;
    opacity: 0;
}
#home-intro-card:hover:before {
    top: 25%;
    opacity: 1;
}


.project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
#project-card{
    transition: width 0.4s ease, height 0.4s ease;
    width: 300px;
    height: 350px;
    position: relative;
    margin: 80px;
    margin-top: 0;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    padding: 10px;
    background-color: #101010;
    h3{
        font-weight: bold;
    }
    text-align: center;
    
}
#project-card:hover{
    transition: width 0.4s ease, height 0.4s ease;
    width: 320px;
    height: 370px;
}
#project-card:before{
    content: "";
    height: 70px;
    width: 1px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
        transparent,
        #7d64f9,
        transparent
    );
    opacity: 0;
}
#project-card:before {  
    top: 65%;
    opacity: 0;
}
#project-card:hover:before {
    top: 25%;
    opacity: 1;
}

#about{
    margin: 80px;
    margin-top: 0;
}
#about-card{
    width: 900px;
    height: 500px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    padding: 10px;
    background-color: #101010;
    h3{
        font-weight: bold;
    }
    text-align: center;
}
#about-card:before{
    content: "";
    height: 70px;
    width: 1px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
        transparent,
        #7d64f9,
        transparent
    );
    opacity: 0;
}
#about-card:before {  
    top: 65%;
    opacity: 0;
}
#about-card:hover:before {
    top: 25%;
    opacity: 1;
}

#contact{
    width: 100%;
    height: 160px;
    background-color: #111111;
    color: #8f79ffc7;
}
