$button-colors: #a594fd;

@mixin btn($name, $mLeft, $mRight) {
    ##{$name}-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 35px;
        margin-left: #{$mLeft};
        margin-right: #{$mRight};
        width: 100px;
        a{
            p{
                transition: color 0.3s ease; 
            }
        }
        
    }
    ##{$name}-btn:hover{
        cursor: pointer;
        a{
            p{
                color: $button-colors;
            }
        }
    }
}

body{
    font-family: sans-serif;
    background-color: #0c0c0c;
    color: white;
    margin: 0;
    margin-left: 80px;
    margin-right: 80px;
    min-width: 300px;
    height: 100vh;
}
.navbar_container{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        #logo{
            display: flex;
            flex-direction: row;
            #mylogo{
                width: 120px;
                height: 120px;
            } 
        }   
        .pages-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            @include btn(home, 0px, 35px);
            @include btn(project, 35px, 35px);
            @include btn(about, 35px, 0px);
            
        }
        #contact-btn{
            width: 120px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 35px;
            margin-left: 0;
            margin-right: 0;
            color: black;
            background-color: white;
            border-radius: 8px;
            transition: background-color 0.8s ease, color 1s ease;
            
        }
        #contact-btn:hover{
            cursor: pointer;
            transition: background-color 0.8s ease, color 1s ease;
            background-color: #7d64f9;
           
            color: white;
            
        } 
    }
    margin-bottom: 80px;
}

#home-intro-card{
    width: 500px;
    height: 350px;
    margin: 80px;
    margin-top: 0;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    padding: 10px;
    background-color: #101010;
    h3{
        font-weight: bold;
    }
    text-align: center;
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#project-card{
    width: 300px;
    height: 350px;
    margin: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    padding: 10px;
    background-color: #101010;
    h3{
        font-weight: bold;
    }
    text-align: center;
}
